<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="sidenav" position='end'>
    <h2 mat-dialog-title style="margin-left: 23px;
    margin-top: 16px;">Transferir créditos</h2>
<hr>
<mat-dialog-content class="mat-typography">
 <div class="row">
  <div class="credits">
    <p class="total-credits">140 PPA</p>
    <p class="text-principal">Pagos Pendientes de Aplicar</p>
  </div>
 </div>
 <hr>
 <div class="box">
  <div class="one"><span class="subtitle-principal">Origen</span></div>
  <div class="two">
    <p style="font-weight: 500;">27-39621302-3</p><br>
    <p style="margin-top: -23px; font-weight: 500;">Xxxxx-Xxxxx</p>
  </div>
</div>
<hr>
<div class="box">
  <div class="one"><span class="subtitle-principal">Destinatario</span></div>
  <div class="two">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Destinatario</mat-label>
        <input matInput #destination maxlength="256" placeholder="Ex. I need help with...">
        <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
        <mat-hint align="end">{{destination.value.length}} / 256</mat-hint>
      </mat-form-field>
    </form>
    <p style="font-weight: 500;">Xxxxxx-Xxxxxx</p>
  </div>
</div>
<hr>
<div class="box">
  <div class="one"><span class="subtitle-principal">Créditos</span></div>
  <div class="two">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Creditos</mat-label>
        <input matInput #credits maxlength="256" placeholder="Ex. I need help with...">
        <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
        <mat-hint align="end">{{credits.value.length}} / 256</mat-hint>
      </mat-form-field>
    </form>
    <p style="font-weight: 500;">desde 01/01/2001</p>
  </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <div class="box-buttons">
    <div style="margin-bottom: 12px;">
      <button mat-button mat-dialog-close class="button-confirm" disabled><span style="color: #ffffff;">Confirmar</span></button>
    </div>
    <div>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="button-cancel"><span style="color: #1c7cd5;">Cancelar</span></button>
    </div>
  </div>
</mat-dialog-actions>
  </mat-drawer>
  <mat-drawer-content>
    <section id="home" class="ml-auto hidden-md desk">
      <!--Cards Section-->
      <div class="container">
          <div class="row">
            <div class="nav-principal">
              <div class="nav-bar">
                <div class="one">
                  <p class="value">580</p>
                </div>
                <div class="two">
                  <p class="dispo">Creditos<br> disponibles</p>
                </div>
              </div>
              <div class="nav-secundario">
                <div class="one">
                  <img style="padding-top: 10%; padding-left: 10%;" src="../../../../assets/icons/wallet.svg" alt="">
                </div>
                <div class="two">
                  <h1 style="color: white; padding-top: 10%">Mi Billetera</h1>
                </div>
              </div>
            </div>
            <div class="icon-not">
              <img src="../../../../assets/icons/Notificación.svg">
            </div>
            <div class="text">
              <p>Conocé <a href="#" style="color: #1c7cd5; font-weight: 400;">como utilizar tu billetera</a></p>
            </div>
          </div>
          <div class="box" style="margin-left: 118px; margin-right: -112px;">
            <div class="">
              <mat-card class="example-card card">
                <mat-card-header>
                  <mat-card-title>PPA</mat-card-title>
                  <div><img src="../../../../assets/icons/info.svg"/></div>
                  <div style="margin-left: 55%;"><img src="../../../../assets/icons/calendar.svg"/></div>
                  <div style="margin-left: 5%;"><img src="../../../../assets/images/more-info.png"/></div>
                </mat-card-header>
                <mat-card-content class="data">
                  <p class="number">
                    390
                  </p>
                  <p class="description">
                    Total de creditos
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button class="buttons" style="margin-right: 9px;"><span style="color: #1c7cd5;">Pagar</span></button>
                  <button mat-button class="buttons" (click)="drawer.toggle()"><span style="color: #1c7cd5;">Transferir</span></button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="">
              <mat-card class="example-card card">
                <mat-card-header>
                  <mat-card-title>DBI</mat-card-title>
                  <div><img src="../../../../assets/icons/info.svg"/></div>
                  <div style="margin-left: 67%;"><img src="../../../../assets/images/more-info.png"/></div>
                </mat-card-header>
                <mat-card-content class="data">
                  <p class="number">
                    90
                  </p>
                  <p class="description">
                    Total de creditos
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button class="buttons" style="margin-right: 9px;"><span style="color: #1c7cd5;">Pagar</span></button>
                  <button mat-button class="buttons" (click)="drawer.toggle()"><span style="color: #1c7cd5;">Transferir</span></button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="">
              <mat-card class="example-card card">
                <mat-card-header>
                  <mat-card-title>SUCEP</mat-card-title>
                  <div><img src="../../../../assets/icons/info.svg"/></div>
                  <div style="margin-left: 59%;"><img src="../../../../assets/images/more-info.png"/></div>
                </mat-card-header>
                <mat-card-content class="data">
                  <p class="number">
                    100
                  </p>
                  <p class="description">
                    Total de creditos
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button class="buttons" style="margin-right: 9px;"><span style="color: #1c7cd5;">Pagar</span></button>
                  <button mat-button class="buttons" (click)="drawer.toggle()"><span style="color: #1c7cd5;">Transferir</span></button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <div class="text-credit">
            <p routerLink="/credits">Todos mis créditos<img src="../../../../assets/icons/Flecha Paginacion (1).svg"/></p>
          </div>
        </div>
        <!--Table Section-->
        <div class="box">
          <div class="vl"></div><div class="one">Últimos movimientos</div>
          <div class="two"><img src="../../../../assets/icons/Lupa.svg" class="icons"/>
            <input type="text" class="form-control search" name="filterPost" placeholder="Buscar"/>
          </div>
        </div>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 data-table">
          
          <!-- type Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>
        
          <!-- date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
        
          <!-- typet Column -->
          <ng-container matColumnDef="typet">
            <th mat-header-cell *matHeaderCellDef>Tipo de transaccion</th>
            <td mat-cell *matCellDef="let element"><span class="type-color">{{element.typet}} </span></td>
          </ng-container>
        
          <!-- description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.description}}<img src="../../../../assets/icons/info.svg" class="icons"></td>
          </ng-container>
        
          <!--credit column-->
          <ng-container matColumnDef="credit">
            <th mat-header-cell *matHeaderCellDef> Creditos </th>
            <td mat-cell *matCellDef="let element"> {{element.credit}} </td>
          </ng-container>
        
          <!--total column-->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> {{element.total}}<img src="../../../../assets/icons/invoice.svg" class="icons"></td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator class="pagination" [length]="100"
                      [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
  </section>
  </mat-drawer-content>
</mat-drawer-container>
<app-home-mobile class="ml-auto mr-lg-auto mobile"></app-home-mobile>