<div class="lista__container">
  <ng-container *ngIf="wallet">
    <div *ngFor="let balance of wallet.balances; let lastItem = last">
      <div class="activo__container">
        <div class="activo__name">
          <div class="activo__img"></div>
          <span>{{ balance.tokenId.shortName }}</span>
        </div>
        <div class="activo__price">
          <div>
            <span> {{ balance.amount | number }} {{ balance.tokenId.symbol | uppercase }} </span>
          </div>
          <span class="activo__pesos">
            ≈{{ balance.amount | currency: "ARS" }}
          </span>
        </div>
        <div class="btn__group">
          <button mat-raised-button class="activo__btn">ENVIAR</button>
          <button mat-stroked-button *ngIf="displayButton" class="detalles__btn" disabled>
            VER MÁS
          </button>
        </div>
      </div>
      <mat-divider *ngIf="!lastItem"></mat-divider>
    </div>
  </ng-container>
</div>
