.card
  width: 306px
  height: 236px
  margin: 0 44px 0 0
  padding: 23px 28px 32px 29.6px
  border-radius: 22px
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16)
  background-color: #ffffff

.ppa-credit 
  width: 36px
  height: 24px
  margin: 0 5.4px 24.7px 0
  font-family: Roboto
  font-size: 20px
  font-weight: 500
  font-stretch: normal
  font-style: normal
  line-height: 0.6
  letter-spacing: normal
  text-align: left
  color: #29343e

.button
  width: 121px
  height: 43px
  margin: 14.9px 6.4px 0 0
  padding: 0.3px 30.9px 0 29.9px
  border-radius: 22px
  border: solid 0.8px #1c7cd5
  background-color: #ffffff

.total-credits
  width: 118px
  height: 19px
  margin: 80.2px 28.8px 14.9px 1.6px
  font-family: Roboto
  font-size: 12px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 0.75
  letter-spacing: normal
  text-align: center
  color: rgba(47, 61, 85, 0.52)

.Ver-detalle 
  width: 4px
  height: 18px
  margin: 0.7px 0.4px 30px 12.4px
  object-fit: contain

.calendar 
  width: 19.8px
  height: 19.8px
  margin: 0 12.4px 28.9px 28.8px
  padding: 6px 0.6px 1.8px 0.2px
  object-fit: contain
