<mat-card class="card">
    <mat-card-header>
      <mat-card-title>PPA</mat-card-title>
      <button mat-button class="info"> <img src="assets/icons/info.svg"/></button>
      <button mat-button class="calendar"><img src="assets/icons/calendar.svg"/></button>
      <button mat-button class="ver-detalle"><img src="assets/icons/more-info.svg"/></button>
    </mat-card-header>
    <mat-card-content class="total-credits"> Total de creditos </mat-card-content>
    <mat-card-actions>
      <button mat-button class="button">Pagar</button>
      <button mat-button class="button">Transferir</button>
    </mat-card-actions>
  </mat-card>
