<div class="container">
<div><p class="my-wallet">Mi billetera</p></div>
<div>
    <p class="Credits-mock">creditos disponibles</p></div>
    <p class="number-580-mock">580</p>
</div>
<ul class="flex-container"> 
<li>
<mat-card class="card">
    <mat-card-header class="box ">
      <div class="one">
      <mat-card-title>PPA</mat-card-title>
      <button mat-button class="info"> <img src="assets/icons/info.svg"/></button>
    </div>
    <div class="two">
      <button mat-button class="calendar"><img src="assets/icons/calendar.svg"/></button>
      <button mat-button class="ver-detalle"><img class= "detail-style" src="assets/icons/more-info.svg"/></button>
    </div>
    </mat-card-header>
  
    <mat-card-content class="total-credits"> 
      <p class="text-mock">390</p>
      <p class="total-credits" > Total de creditos </p></mat-card-content>
    <mat-card-actions>
      <button mat-button class="button">Pagar</button>
      <button mat-button class="button">Transferir</button>
    </mat-card-actions>

  </mat-card>
</li>

<li>
  <mat-card class="card">
      <mat-card-header>
        <div class="one">
        <mat-card-title>DBI</mat-card-title>
      </div>
      <div class="two">
        <button mat-button class="info"> <img src="assets/icons/info.svg"/></button>
        <button mat-button class="ver-detalle"><img class= "detail-style" src="assets/icons/more-info.svg"/></button>
      </div>
      </mat-card-header>
  
      <mat-card-content class="total-credits"> 
        <p class="text-mock">90</p>
        <p class="total-credits" > Total de creditos </p></mat-card-content>
      <mat-card-actions>
        <button mat-button class="buttonTwo">Pagar</button>
      </mat-card-actions>
    </mat-card>
  </li>


  <li>
    <mat-card class="card">
        <mat-card-header>
          <div class="one">
          <mat-card-title>SUCEP</mat-card-title>
        </div>
        <div>
          <button mat-button class="info"> <img src="assets/icons/info.svg"/></button>
          <button mat-button class="ver-detalle"><img src="assets/icons/more-info.svg"/></button>
        </div>
        </mat-card-header>
        <mat-card-content class="total-credits"> 
        <p class="text-mock">100</p>
        <p class="total-credits" > Total de creditos </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="buttonTwo">Pagar</button>
        </mat-card-actions>
      </mat-card>
    </li>
</ul>
<app-operation-detail></app-operation-detail>
