.card
  width: 306px
  height: 236px
  margin: 0 44px 0 0
  padding: 23px 28px 32px 29.6px
  border-radius: 22px
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16)
  background-color: #ffffff

.ppa-credit 
  width: 36px
  height: 24px
  margin: 0 5.4px 24.7px 0
  font-family: Roboto
  font-size: 20px
  font-weight: 500
  font-stretch: normal
  font-style: normal
  line-height: 0.6
  letter-spacing: normal
  text-align: center
  color: #29343e

.button
  width: 121px
  height: 43px
  margin: 14.9px 6.4px 0 0
  padding: 0.3px 30.9px 0 29.9px
  border-radius: 22px
  border: solid 0.8px #1c7cd5
  background-color: #ffffff
  margin-left: 25px

.button:hover
  background-color: #dfe4eb

.buttonTwo
  width: 187.3px
  height: 43px
  margin: 14.9px 6.4px 0 0
  padding: 0.3px 30.9px 0 29.9px
  border-radius: 22px
  border: solid 0.8px #1c7cd5
  background-color: #ffffff
  margin-left: 65px

.buttonTwo:hover
  background-color: #dfe4eb

.pay
  width: 187.3px
  height: 42.7px
  padding: 0 25.3px 0 25.3px
  opacity: 0
  border-radius: 23px
  background-color: rgba(28, 124, 213, 0.27)

.total-credits
  width: 118px
  height: 19px
  margin: 80.2px 28.8px 14.9px 1.6px
  font-family: Roboto
  font-size: 12px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 0.75
  letter-spacing: normal
  text-align: center
  color: rgba(47, 61, 85, 0.52)
  margin-left: 47px

.total-credits2
  width: 118px
  height: 19px
  margin: 79.6px 62.9px 14.9px 6.6px
  font-family: Roboto
  font-size: 16px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 0.75
  letter-spacing: normal
  text-align: center
  color: rgba(47, 61, 85, 0.52)
  margin-left: 47px

.ver-detalle 
  width: 4px
  height: 18px
  margin: 0.7px 0.4px 30px 12.4px
  object-fit: contain
  background-color: transparent
  border: none

.calendar 
  width: 19.8px
  height: 19.8px
  margin: 0 12.4px 28.9px 28.8px
  padding: 6px 0.6px 1.8px 0.2px
  background-color: transparent
  border: none

.info 
  width: 18px
  height: 18px
  margin: 0 2.5px 0 1.5px
  object-fit: contain
  background-color: #007bff
  background-color: transparent
  border: none

.flex-container
  display: flex
  flex-flow: row wrap
  justify-content: center
  padding-top:  100px
  margin: 0
  list-style: none
  flex-wrap: wrap

.text-mock
  width: 82px
  height: 58px
  font-family: Roboto
  font-size: 48px
  font-stretch: normal
  font-weight: bold
  font-style: normal
  line-height: 0.25
  letter-spacing: normal
  color: #e0e0e0
  position: absolute
  left: 50%
  top: 29%
  text-align: center
  transform: translateX(-50%) translateY(50%)

.container-header
  display: flex
  justify-content: space-between
  flex-direction: column
  align-items: flex-start

.box 
  display: flex
  margin-top: 10%
.one
  flex: 1 1 auto
  margin-left: 6%
  font-size: 20px
.two
  flex: 1 1 auto
  text-align: end
  margin-right: 9%

.rect-blue
  width: 946.2px
  height: 64.5px
  margin: 44px 15.8px 40px 350px
  padding: 0 150px 0 1px
  border-radius: 22px
  background-color: rgba(28, 124, 213, 0.8)
  align-self: flex-end

.my-wallet
  width: 172px
  height: 41px
  font-family: Roboto
  font-size: 34px
  font-weight: 500
  font-stretch: normal
  font-style: normal
  line-height: 0.35
  letter-spacing: normal
  text-align: left
  color: #ffffff

.wallet 
  width: 36px
  height: 36px
  margin: 0 21.5px 6.5px 0
  object-fit: contain

.number-580-mock
  width: 69px
  height: 48px
  margin: 8.3px 19.3px 8.3px 482.5px
  font-family: Roboto
  font-size: 40px
  font-weight: bold
  font-stretch: normal
  font-style: normal
  line-height: 0.45
  letter-spacing: normal
  text-align: right
  color: #ffffff

.dark-blue
  width: 281.2px
  height: 64.5px
  margin: 0 482.5px 0 0
  padding: 12px 26.6px 10px 25.1px
  border-radius: 22px
  background-color: #1c7cd5

.container 
  display: flex
  flex-direction: row
  flex-wrap: nowrap 
  justify-content: space-around
  align-items: center
  align-content: center
  width: 80%
  height: 64px
  border-radius: 22px
  background-color: #1c7cd5

.Credits-mock
  width: 72px
  height: 31px
  margin: 17px 0 16.5px 19.3px
  font-family: Roboto
  font-size: 14px
  font-weight: 500
  font-stretch: normal
  font-style: normal
  line-height: 1
  letter-spacing: normal
  text-align: left
  color: #ffffff