<div class="title__container">
  <h2 class="title" mat-dialog-title>Transferir activos</h2>
  <mat-icon mat-dialog-close aria-hidden="false" aria-label="home icon"
    >close</mat-icon
  >
</div>

<!-- SWITCH TEMPLATES -->

<ng-container [ngSwitch]="step">
  <ng-container *ngSwitchCase="1">
    <ng-container *ngTemplateOutlet="step_1"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <ng-container *ngTemplateOutlet="step_2"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="3">
    <ng-container *ngTemplateOutlet="step_3"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="4">
    <ng-container *ngTemplateOutlet="step_4"></ng-container>
  </ng-container>
</ng-container>

<!-- STEP TRANSFERENCIA -->

<ng-template #step_1>
  <div class="user__container">
    <mat-icon class="material-icons-outlined user__icon">account_circle</mat-icon>
    <p class="user__name">
      {{
        userTo
          ? userTo.shortName + " " + userTo.lastName
          : "Nombre destinatario"
      }}
    </p>
    <p class="user__info">{{ userTo ? userTo.cuil : "ID/CUILD" }}</p>
  </div>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="transferenciaForm">
      <div class="form__item">
        <p class="item__title">Activo</p>
        <div class="select__container">
          <p class="item__subtitle">{{ activoSelected }}</p>
          <mat-select
            formControlName="token"
            class="item__select"
            disableRipple
          >
            <mat-option
              *ngFor="let balance of balances"
              value="{{ balance.tokenId._id }}"
              >{{ balance.tokenId.symbol }}</mat-option
            >
          </mat-select>
        </div>
      </div>
      <div class="form__item">
        <p class="item__title">Monto</p>
        <input formControlName="amount" type="number" class="item__input" />
      </div>
      <div class="form__item">
        <p class="item__title">Origen</p>
        <div class="item__info" *ngIf="user">
          <p class="item__subtitle margin__b">{{ user.cuil }}</p>
          <p class="item__subtitle">{{ user.shortName + ' ' + user.lastName }}</p>
        </div>
      </div>
      <div class="form__item">
        <p class="item__title">Destinatario</p>
        <input
          formControlName="userIdentifier"
          type="string"
          class="item__input"
          *ngIf="!verified"
        />
        <div class="item__info" *ngIf="userTo">
          <p class="item__subtitle margin__b">{{ userTo.cuil }}</p>
          <p class="item__subtitle">
            {{ userTo.shortName + " " + userTo.lastName }}
          </p>
        </div>
      </div>
      <div class="form__item">
        <p class="item__title">Fecha</p>
        <p class="item__subtitle">{{ today | date: "dd/MM/YYYY" }}</p>
      </div>
      <div class="form__item">
        <p class="item__title">Notas</p>
        <input formControlName="notes" type="string" class="item__input" />
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="button__container">
    <button
      mat-button
      cdkFocusInitial
      class="button"
      (click)="onVerifyUser()"
      [disabled]="verified"
    >
      VERIFICAR DESTINATARIO
    </button>
    <button
      mat-button
      cdkFocusInitial
      class="button"
      (click)="onSubmit()"
      [disabled]="!verified"
    >
      TRANSFERIR
    </button>
    <button mat-button mat-dialog-close class="button__cancelar">
      CANCELAR
    </button>
  </mat-dialog-actions>
</ng-template>

<!-- STEP SUCCESS -->

<ng-template #step_2>
  <mat-dialog-content class="mat-typography">
    <h1 class="success__title">Transferencia realizada</h1>
    <p class="success__text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis facere
      praesentium.
    </p>
  </mat-dialog-content>
  <mat-dialog-actions class="button__container">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="button">
      CONTINUAR
    </button>
    <button mat-button class="button__cancelar" (click)="verComprobante()">VER COMPROBANTE</button>
  </mat-dialog-actions>
</ng-template>

<!-- STEP ERROR -->

<ng-template #step_3>
  <mat-dialog-content class="mat-typography">
    <h1 class="success__title">Algo salió mal...</h1>
    <p class="success__text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis facere
      praesentium.
    </p>
  </mat-dialog-content>
  <mat-dialog-actions class="button__container">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="button">
      VOLVER
    </button>
  </mat-dialog-actions>
</ng-template>

<!-- STEP COMPROBANTE -->

<ng-template #step_4>
  <mat-dialog-content class="mat-typography">
    <h1 class="success__title">Comprobante</h1>
    <div class="form__item">
      <p class="item__title">Activo y monto</p>
      <p class="item__subtitle margin__b">{{ activoSelected }} {{ transactionRes.amount }}</p>
    </div>
    <div class="form__item">
      <p class="item__title">Origen</p>
      <div class="item__info" *ngIf="user">
        <p class="item__subtitle margin__b">{{ user.cuil }}</p>
        <p class="item__subtitle">{{ user.shortName + " " + user.lastName }}</p>
      </div>
    </div>
    <div class="form__item">
      <p class="item__title">Destino</p>
      <div class="item__info">
        <p class="item__subtitle margin__b">{{ userTo.cuil }}</p>
        <p class="item__subtitle">
          {{ userTo.shortName + " " + userTo.lastName }}
        </p>
      </div>
    </div>
    <div class="form__item">
      <p class="item__title">Fecha</p>
      <p class="item__subtitle">{{ today | date: "dd/MM/YYYY" }}</p>
    </div>
    <div class="form__item">
      <p class="item__title">Notas</p>
      <p class="item__subtitle">{{ transactionRes.notes ? transactionRes.notes : '-' }}</p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="button__container">
    <button mat-button cdkFocusInitial class="button" disabled>GUARDAR</button>
    <button mat-button mat-dialog-close class="button__cancelar">SALIR</button>
  </mat-dialog-actions>
</ng-template>
