<div class="section__title__container">
  <div class="title__container">
    <div style="display: flex">
      <h1 class="section__title">{{ title }}</h1>
      <span class="show__all__btn" *ngIf="route" [routerLink]="route">
        Ver todo
      </span>
    </div>
    <button
      mat-stroked-button
      *ngIf="textButton"
      class="btn__style"
      (click)="actionButton()"
      [disabled]="isDisabled"
    >
      <span class="btn__text">{{ textButton }}</span>
    </button>
  </div>
</div>
