<div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'" (mouseenter)="onSinenavToggle()"
    (mouseleave)="onSinenavToggle()">
    <mat-nav-list>
        <div class="img__group">
            <img src="../../../../../assets/images/logo-caja-resistencia-no-text.png" class="logo__img" alt="">
            <div class="animation__container">
                <img src="../../../../../assets/images/texto-logo-caja-resistencia.png" class="text__img"
                    [ngClass]="linkText ? 'showText' : 'hideText'">
            </div>
        </div>
        <div class="first__group">
            <mat-list-item mat-list-item routerLink="/home/{{ item.route }}" routerLinkActive="active" [disabled]=!item.available
                *ngFor="let item of navItems">
                <mat-icon>{{item?.icon}}</mat-icon>
                <div class="animation__container">
                    <span [ngClass]="linkText ? 'showText' : 'hideText'">{{ item?.name }} </span>
                </div>
            </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <mat-list-item mat-list-item routerLink="/home/detalles/perfil" routerLinkActive="active" *ngIf="user">
            <img routerLink="/home/detalles/perfil" class="account__btn" [src]= "user.avatarUrl" onError="this.src='assets/images/default-profile-img.png'">
            <div class="animation__container">
                <div [ngClass]="linkText ? 'showText' : 'hideText'" class="user__info">
                    <p>{{ user.shortName }} {{ user.lastName }}</p>
                    <p>{{ user.userId.username }} </p>
                </div>
            </div>
        </mat-list-item>
    </mat-nav-list>
</div>