<div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'" (mouseenter)="onSinenavToggle()"
    (mouseleave)="onSinenavToggle()">
    <mat-nav-list>
        <img src="../../../../../assets/images/logo-caja-resistencia-no-text.png" class="logo__img" alt="">
        <div class="first__group">
            <mat-list-item mat-list-item routerLink="/home/{{ item.route }}" routerLinkActive="active"
                *ngFor="let item of navItems">
                <mat-icon>{{item?.icon}}</mat-icon>
                <span [@animateText]="linkText ? 'show' : 'hide'">{{ item?.name }} </span>
            </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <mat-list-item mat-list-item routerLink="/home/perfil" routerLinkActive="active">
            <div class="profile__img"></div>
            <span [@animateText]="linkText ? 'show' : 'hide'">{{ usuario?.name }} </span>
        </mat-list-item>
    </mat-nav-list>
</div>