@import '../../../../../assets/style-variables/variables'
.sidenav_container
    height: 95%
    overflow: hidden
.logo__img
    display: block
    margin: 0 5px 30px 5px
    width: 45px
    height: 45px
.mat-nav-list
    cursor: pointer
    padding: 20px 18px
    height: 100%
.mat-list-item
    margin-top: 20px
    transition: background-color .25s ease-in
    span
        margin-left: 10px
    &:hover
        border-radius: 5px
        background-color: #9b27b086
.mat-icon, span
    color: #fff
.mat-icon
    font-size: 25px
.active
    border: solid 1px #e8bff0bd
    border-radius: 5px
    background-color: $primary
    &:hover
        background-color: $primary
.first__group
    height: 80%

.mat-divider
    border-top-width: 2px
    border-top-color: #ececec7e
.profile__img
    width: 30px
    height: 30px
    border-radius: 50%
    background: #aaa
