@import '../../../../../assets/style-variables/variables'
.sidenav_container
    height: 95%
    overflow: hidden
    z-index: 999

.img__group
    display: flex
.logo__img
    margin: 0 8.5px
    width: 45px
    height: 45px
.text__img
    height: 45px
    padding-right: 10px
.mat-nav-list
    cursor: pointer
    padding: 20px 18px
    height: 100%
.mat-list-item
    margin-top: 20px
    transition: background-color .25s ease-in
    span
        margin-left: 10px
    &:hover
        border-radius: 5px
        background-color: #9b27b086
.mat-icon, span
    color: #fff
.mat-icon
    font-size: 25px
    margin-left: 3px
.active
    border: solid 1px #e8bff0bd
    border-radius: 5px
    background-color: $primary
    &:hover
        background-color: $primary
.first__group
    margin-top: 40px
    height: 80%

.mat-divider
    border-top-width: 2px
    border-top-color: #ececec7e
.profile__img
    width: 30px
    height: 30px
    border-radius: 50%
    background: #aaa
    .account__icon
        margin: 3px 0 0 2px
.user__info
    display: flex
    flex-direction: row
    color: #fff
    font-size: 16px
    p
        margin: 3px 0 0 15px
    p:not(:first-child)
        font-size: 12px
