table 
  width: 90%
th
  font-weight: bold  
.data-table
  margin-top: 3%
  margin-bottom: 7%
  margin-left: 5%
tr.mat-header-row 
  height: 56px
  background-color: #eae8e8
.box 
  display: flex
  margin-top: 10%
.one
  flex: 1 1 auto
  margin-left: 6%
  font-size: 20px
.two
  flex: 1 1 auto
  text-align: end
  margin-right: 9%
.type-color
  background-color: rgba(255, 139, 30, 0.3)
  padding: 5px 5px
  border-radius: 8px
  color: #ff8b1e
.icons
  margin-left: 10px
th.mat-header-cell
    text-align: center
th.mat-header-cell, td.mat-cell, td.mat-footer-cell
    text-align: center
td.mat-cell
  font-family: 'Roboto'
  font-weight: 400