<section class="desk">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile><img src="../../../../../assets/images/Ilustracion-Login.png"></mat-grid-tile>
        <mat-grid-tile>
            <div class="container">
                <div class="logo"><img src="../../../../../assets/images/Interconomy-Isotipo.png" class="image"/></div>
                <div class="login-item">
                  <form [formGroup]="myForm" (ngSubmit)="confirm(myForm.value)" method="post" class="form form-login">
                    <div class="form-field">
                      <span class="hidden">Username</span>
                      <input id="confirm-username" type="text" class="form-input" placeholder="Username" formControlName="username">
                    </div>
              
                    <div class="form-field">
                      <span class="hidden">Confirmation Code</span>
                      <input id="confirm-code" type="text" class="form-input" placeholder="Confirm-code" formControlName="confirmationCode">
                    </div>

                    <!--<div class="form-field">
                        <span class="hidden">Email</span>
                        <input id="login-mail" type="text" class="form-input" placeholder="E-mail" formControlName="email">
                    </div>-->
              
                    <!--<div class="form-field redirection">
                        <div class="div-check">
                            <section class="example-section">
                                <mat-checkbox class="example-margin"><span style="font-family: monospace; font-weight: 600; color: #000;">Recordar contraseña</span></mat-checkbox>
                            </section>
                        </div>
                    </div>-->
              
                    <div class="form-field">
                        <button mat-raised-button type="submit" [disabled]="!myForm.valid" value="Log in" class="button" (click)="confirm(myForm.value)"><span class="button-text">CONFIRMAR</span></button>
                    </div>

                    <!--<div class="box">
                        <div class="one"><span class="option">Olvidé mi contraseña</span></div>
                        <div class="two" routerLink="/register"><span class="option">Crear cuenta</span></div>
                    </div>-->

                  </form>
                </div>
              </div>
        </mat-grid-tile>
    </mat-grid-list>
</section>
<app-confirm-code-mobile class="mobile"></app-confirm-code-mobile>

