<div class="title__container">
  <h2 class="title" mat-dialog-title>Transferir activos</h2>
  <mat-icon mat-dialog-close aria-hidden="false" aria-label="home icon"
    >close</mat-icon
  >
</div>
<div class="user__container">
  <mat-icon class="material-icons-outlined user__icon">account_circle</mat-icon>
  <p class="user__name">Nombre destinatario</p>
  <p class="user__info">ID/CUILD</p>
</div>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="transferenciaForm" (ngSubmit)="onSubmit()">
    <div class="form__item">
      <p class="item__title">Activo</p>
      <div class="select__container">
        <p class="item__subtitle">Seleccionar</p>
        <mat-select class="item__select" disableRipple>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form__item">
      <p class="item__title">Monto</p>
      <input type="number" class="item__input" />
    </div>
    <div class="form__item">
      <p class="item__title">Origen</p>
      <div class="item__info">
        <p class="item__subtitle margin__b">27-37525727-1</p>
        <p class="item__subtitle">Nombre usuario</p>
      </div>
    </div>
    <div class="form__item">
      <p class="item__title">Destinatario</p>
      <div class="item__info">
        <p class="item__subtitle margin__b">27-37525727-1</p>
        <p class="item__subtitle">Nombre usuario</p>
      </div>
    </div>
    <div class="form__item">
      <p class="item__title">Fecha</p>
      <p class="item__subtitle">30/08/2021</p>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="button__container">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="button">
    TRANSFERIR
  </button>
  <button mat-button mat-dialog-close class="button__cancelar">CANCELAR</button>
</mat-dialog-actions>
