<div class="profile__container">
  <div style="width: 45%">
    <div class="first__block">
      <div class="profile__img"></div>
      <h1>{{ userData.user.shortName }} {{ userData.user.lastName }}</h1>
      <mat-icon class="edit__icon">edit</mat-icon>
    </div>
    <div class="second__block">
      <table>
        <td class="table__header">
          <tr>Usuario</tr>
          <tr>DNI</tr>
          <tr>CUIL</tr>
          <tr>Teléfono</tr>
          <tr>E-mail</tr>
        </td>
        <td>
          <tr> {{ userData.user.userId.username }} </tr>
          <tr> {{ userData.user.dni }} </tr>
          <tr> {{ userData.user.cuil }} </tr>
          <tr> {{ userData.user.phoneNumber }} </tr>
          <tr> {{ userData.user.email }} </tr>
        </td>
      </table>
    </div>
  </div>

  <div style="width: 45%">
    <app-subtitle [subtitle]="'Mis representados'"></app-subtitle>
    <div class="lista__container">
      <div *ngFor="let representado of representados">
        <div class="flex__container__representados">
          <div style="width: 15%">
            <div class="representados__img"></div>
          </div>
          <div class="representados__text" style="width: 60%">
            <p>{{ representado.nombre }}</p>
            <p>CUIT {{ representado.cuil }}</p>
          </div>
          <span style="width: 15%" class="show__all__btn">Ver más</span>
        </div>
      </div>
    </div>
  </div>
</div>
