<div class="profile__container">
  <div class="flex__item" *ngIf="user">
    <div class="first__block">
      <div>
        <img *ngIf="user.avatarUrl" routerLink="/home/detalles/perfil" class="profile__img" [src]="user.avatarUrl" onError="this.src='assets/images/default-profile-img.png'">
        <h1>{{ user.shortName }} {{ user.lastName }}</h1>
      </div>
      <mat-icon class="edit__icon">edit</mat-icon>
    </div>
    <div class="second__block">
      <table>
        <td class="table__header">
          <tr>Usuario</tr>
          <tr>DNI</tr>
          <tr>CUIL</tr>
          <tr>Teléfono</tr>
          <tr>E-mail</tr>
        </td>
        <td>
          <tr> {{ user.userId.username }} </tr>
          <tr> {{ user.dni }} </tr>
          <tr> {{ user.cuil }} </tr>
          <tr> {{ user.phoneNumber }} </tr>
          <tr> {{ user.email }} </tr>
        </td>
      </table>
    </div>
  </div>
<!-- 
  <div class="flex__item">
    <app-subtitle [subtitle]="'Mis representados'"></app-subtitle>
    <div class="lista__container">
      <div *ngFor="let representado of representados">
        <div class="flex__container__representados">
          <div class="flex__group">
            <div class="representados__img"></div>
            <div class="representados__text">
              <p>{{ representado.nombre }}</p>
              <p>CUIT {{ representado.cuil }}</p>
            </div>
          </div>
          <span class="show__all__btn">Ver más</span>
        </div>
      </div>
    </div>
  </div>
</div> -->
