@import '../../../../../../../assets/style-variables/variables'

.profile__container
    display: flex
    justify-content: space-evenly
.edit__icon
    font-size: 15px
    color: #777
    cursor: pointer
.first__block
    display: flex
    justify-content: space-between
    margin: 10px
    h1
        font-weight: 500
        margin-top: 10px
.profile__img
    min-width: 80px
    height: 80px
    margin: 0 15px
    border-radius: 50%
    background: #aaa
.second__block
    margin: 15px

table
    border-spacing: 10px
.table__header
    font-weight: bold

.flex__container__representados
    display: flex
    margin: 30px 10px
    justify-content: space-between
.representados__img
    width: 38px
    height: 38px
    margin: 2px 15px
    border-radius: 50%
    background: #aaa
.representados__text
    p
        margin: 0
    p:first-child
        font-weight: 500
    p:not(:first-child)
        color: $grey
        font-size: 14px

.show__all__btn
    margin: 2px 0 0 15px
    font-size: 14px
    color: $primary
    cursor: pointer
