<div class="section__table">
  <div class="section__subtable">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      style="width: 100%"
    >
      <ng-container matColumnDef="token">
        <th mat-header-cell *matHeaderCellDef>Activos</th>
        <td mat-cell *matCellDef="let element">
          <strong>{{ element.token.symbol }}</strong>
        </td>
      </ng-container>

      <ng-container matColumnDef="transactionType">
        <th mat-header-cell *matHeaderCellDef>Operación</th>
        <td mat-cell *matCellDef="let element">{{ element.transactionType.name | tipoTransaccion }}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element">{{ element.createdAt | date: "dd/MM/YYYY" }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let element">
          <span>
            {{ element.amount | montoTransaccion: {transaction: element, user:user?.userId} }}
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator 
    class="paginator"
    [pageSizeOptions]="[5]"
    showFirstLastButtons 
  ></mat-paginator>
</div>
