@import '../../../../assets/style-variables/variables'

.register__container
    display: flex
    overflow: hidden
.img__container
    width: 40vw
    img
        object-fit: cover
        min-height: 720px
        height: 110vh
        width: 40vw
.form__container
    height: 100%
    width: 60vw
    position: relative
    .logo
        width: 100%
        display: flex
        justify-content: center
        .image
            width: 15vh
            margin-top: 5vh
.title-register
    margin: 0 25%
    h2
        margin: 0
.mat-form-field
    width: 30vw
    margin: 0 25%
    .mat-icon
        cursor: pointer
        user-select: none
.check__container
    margin: 10px 0 40px
    width: 30vw
    font-weight: 500
.register__btn
    background-color: $primary-blue
    color: #ffffff
    width: 15vw
    margin: 20px 22vw 0 22vw
