<div class="register__container">
  <div class="img__container">
    <img src="../../../../../assets/images/Ilustracion-Login.png" />
  </div>
  <div class="form__container">
    <div class="logo">
      <img
        src="../../../../../assets/images/Interconomy-Isotipo.png"
        class="image"
      />
    </div>
    <div class="register-item">
      <div class="title-register">
        <h2>Datos de Registro</h2>
      </div>
      <mat-stepper [linear]="isLinear" #stepper *ngIf="true">
        <form [formGroup]="firstRegisterForm" class="form form-register">
          <mat-step [stepControl]="firstRegisterForm" class="step__container">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input
                matInput
                type="text"
                placeholder="Nombre"
                formControlName="shortName"
                required
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Apellido</mat-label>
              <input
                matInput
                type="text"
                placeholder="Apellido"
                formControlName="lastName"
                required
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>DNI</mat-label>
              <input
                matInput
                type="number"
                placeholder="DNI"
                formControlName="dni"
                required
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>CUIL</mat-label>
              <input
                matInput
                type="number"
                placeholder="CUIL"
                formControlName="cuil"
                required
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Fecha de nacimiento</mat-label>
              <input
                matInput
                type="date"
                placeholder="Fecha de nacimiento"
                formControlName="birthOfDate"
                required
              />
            </mat-form-field>
            <br />
            <mat-dialog-actions>
              <button type="button" mat-raised-button color="primary" class="register__btn" matStepperNext >
                SIGUIENTE
              </button>
            </mat-dialog-actions>
            <div class="box">
              <span routerLink="/auth/login" class="option">Iniciar sesión</span>
              <span (click)="confirmStep()" class="option">Confirmar cuenta</span>
            </div>
          </mat-step>
        </form>

        <form [formGroup]="secondRegisterForm" class="form form-register">
          <mat-step [stepControl]="secondRegisterForm" class="step__container">
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input
                matInput
                type="email"
                placeholder="E-mail"
                formControlName="email"
                required
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input
                matInput
                type="number"
                placeholder="Teléfono"
                formControlName="phoneNumber"
                required
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Usuario</mat-label>
              <input
                matInput
                type="text"
                placeholder="Usuario"
                formControlName="username"
                required
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                placeholder="Contraseña"
                formControlName="password"
                required
              />
              <mat-icon matSuffix (click)="hide = !hide"
                >{{ hide ? "visibility_off" : "visibility" }}
              </mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Repetir contraseña</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                placeholder="Repetir contraseña"
                formControlName="repeat_password"
                required
              />
              <mat-icon matSuffix (click)="hide = !hide"
                >{{ hide ? "visibility_off" : "visibility" }}
              </mat-icon>
            </mat-form-field>
            <mat-dialog-actions>
              <button type="button" (click)="register()" mat-raised-button color="primary" class="second__step__btn">
                CREAR CUENTA
              </button>
              <button type="button" (click)="stepper.previous()" mat-raised-button class="second__step__btn back__btn">
                VOLVER
              </button>
            </mat-dialog-actions>
          </mat-step>
        </form>

        <mat-step [stepControl]="confirmForm" class="step__container">
          <form [formGroup]="confirmForm" class="form form-register">
            <mat-form-field appearance="outline">
              <mat-label>Nombre de usuario</mat-label>
              <input matInput type="text" placeholder="Nombre de usuario" formControlName="username" required/>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Código de confirmación</mat-label>
              <input matInput type="string" placeholder="Código de confirmación" formControlName="confirmCode" required/>
            </mat-form-field>
            <br />
            <mat-dialog-actions>
              <button type="button" (click)="confirmRegister()" mat-raised-button class="register__btn">
                CONFIRMAR CUENTA
              </button>
            </mat-dialog-actions>
            <div class="box">
              <span *ngIf="!isLinear" (click)="backRegister()" class="option">Volver a registro</span>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>
