<div class="header__container">
    <div class="header__rigth">
        <div class="usuario__container">
            <div class="usuario__nombre">
                <p>Hola Adolfo Zuazo!</p>
                <p>Cargo usuario</p>
            </div>
            <button mat-mini-fab class="account__btn">
                <mat-icon class="material-icons account__icon">account_circle</mat-icon>
            </button>
        </div>
        <div class="usuario__icons">
            <mat-icon class="material-icons noti">notifications</mat-icon>
            <mat-icon class="material-icons-outlined logout" (click)="onLogOut()">logout</mat-icon>
        </div>
    </div>
</div>