@import ../../../../../assets/style-variables/variables

.header__container
    padding: 35px 20px 15px 20px
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    border-bottom: .5px solid $light-gray
.open__close__btn
    margin-left: 1.5rem
.open__close
    color: $medium-gray
img
    margin-right: 15px
.header__rigth
    display: flex
    align-items: center
.usuario__container
    display: flex
    align-items: center
    margin-right: 3rem
.usuario__nombre
    margin-right: 1rem
    text-align: right
.account__btn
    background-color: $light-gray
.account__icon
    color: $medium-gray
.usuario__icons
.noti
    margin-right: 1.5rem
    color: $medium-gray
.logout
    cursor: pointer
    color: $medium-gray
