<div class="header__container">
    <div class="header__left">
        <div class="total__container">
            <p>Total en ARS
                <mat-icon class="help__icon">help_outline</mat-icon>
            </p>
            <h2>≈{{ total | currency : 'ARS'}}</h2>
        </div>
    </div>
    <div class="header__rigth">
        <div class="usuario__container" *ngIf="user">
            <img routerLink="/home/detalles/perfil" class="account__btn" [src]="user.avatarUrl" onError="this.src='assets/images/default-profile-img.png'">
            <div class="usuario__nombre">
                <p>Hola {{ user.shortName }} {{ user.lastName }}!</p>
                <p> {{ user.userId.username }} </p>
            </div>
        </div>
        <div class="usuario__icons">
            <mat-icon class="material-icons noti">notifications</mat-icon>
            <mat-icon class="material-icons-outlined logout" (click)="onLogOut()">logout</mat-icon>
        </div>
    </div>
</div>