@import '../../../../../assets/style-variables/variables'

.title__container
  display: flex
  align-items: center
  justify-content: space-between

.vl
  border-left: 3px solid #1c7cd5
  height: 22px
  margin-left: 0%
.subtitle
  margin-left: 1%
  font-size: 18px
  font-weight: 500
.mat-form-field + .mat-form-field
  margin-left: 8px
.collapse
  margin-top: 32px
  width: 65%
.mat-expansion-panel
  box-shadow: none
  padding: 10px
.mat-expansion-panel-spacing
  margin: 0
.mat-divider
  margin: 0 auto
  width: 95%
.span__highlight
  color: $primary
  cursor: pointer
.span__link
  text-decoration: underline
  color: $primary
  cursor: pointer