.novedades__container
    height: 42vh
    width: 100%
    padding: 15px 0 0 15px 
.novedad__item
    margin: 10px 0
.text__group
    min-height: 70px
.novedad__img
    width: 95px
    height: 55px
    background: #aaa
    margin: 5px 15px 0 0
.novedad__text
    margin: 3px 0 10px 0
    color: #777