.box
    display: flex
.one
    flex: 1 1 auto
.two
    flex: 1 1 auto
.total-credits
    text-align: center
    color: #1c7cd5
    font-size: 35px
    margin-top: 16px
.text-principal
    text-align: center
    font-size: small
    font-weight: 100
    color: #848484